*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}	

/*inicio del nav*/
.background-head{ 
	height: 108px; 
	width: 100%;
	background-color: transparent;
	position: fixed;
	margin-top: 20px;
}	
.background-head ul li a{ /* propiedades LISTA*/
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #FFF;
	padding-right: 10px;	
}

.logotipo ul{
    display: inline-block;
    float: right;
    margin-right: 132px;
    margin-top: 20px;

}


.logo{
	width: 5%;
	margin-left: 79px;
	margin-top: 20px;
}

.logotipo li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}
/*fin del nav*/

/*inicio primera seccion*/
.fondo{
	background-image: url(../assets/images/hero.gif);
	background-size: cover;
	height: 600px;
}
section .box-blanco{
	background-color: #FFF;
	width: 533px; 
	height:418px;
	float: right;
    margin-top: 115px;

}

section .box-blanco {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	padding: 81px;
	
}

.box-blanco h1{
	color: #352384;
	font-size: 42px;
	font-weight: 500;
	line-height: 48px;
	
}

.box-blanco h4{
	color: #352384;
	font-weight: 400;
	font-weight: lighter
}

.box-blanco p{
	color: #C0C8DA;
}

hr{
	margin-bottom: 15px;
}

.box-blanco .boton button{
	color: #FFF;
	width: 170px;
	height: 50px;
	background: #FF00BF;
	border-radius: 10px;
	font-size: 17px;
	vertical-align: center;
}

h6 {
	color:#C5CBD5;
	font-weight: 400;
	line-height: 23px;
	padding-top:10px;
}

/*fin seccion 1*/

/*inicio seccion 2*/
.fondo2{
	background:linear-gradient(#76278F, #2B1E66);
	background-size: cover;
	width: 100%;
	height: 640px;
}
	
.text-box{
	float: left;
}

.seccion2 .fondo2 .phone img{
	width:520px;
	height: 512px;
	margin-top: 75px;
	margin-left: 97px;
}

.fondo2 h3 {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	margin-left: 155px;
	padding-top: 73px;
	font-size: 30px;
	font-weight: normal;
	text-align: justify;
	white-space: pre-line;
	margin-bottom: 25px;
}

.text-box p{
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	margin-left: 155px;
	white-space: pre-line;
	text-align: left;
}


/*fin seccion 2*/

/*inicio seccion 3*/
.text1, .text2, .text3{
	font-family: 'Montserrat', sans-serif;

}

.text1{
	height: 500px;
}

.seccion3, .text1 h5 h3 p{
	font-family: 'Montserrat', sans-serif;
	
}

.caja-seccion3{
	display: inline-block;
}

.caja-text1{
	width: 330px;
	padding: 60px 20px 20px 80px;
	margin-bottom: 250px;
	font-family: 'Montserrat', sans-serif;
}

.caja-text1 p{
	margin-top: 20px;
}

.video1{ /*video 1*/
	width: 840px;
	height: 500px;
	float: right;
}	

/*fin seccion 3*/

/* inicio seccion 4*/
.seccion4 {
	min-height: 500px;
}

.caja-text2{
	font-family: 'Montserrat', sans-serif;
	width: 330px;
	margin-bottom: 250px;
	float: left;
	margin-top:40px;
	margin-left: 450px;
}

.caja-text2 p{
	margin-top: 20px;
}

.video2{
	width: 440px;
	height: 500px;
	float: left;
}

.caja-seccion4{
	display: inline-block;
	
}

/*fin seccion 4*/
/*incio seccion 5*/
.seccion5 {
	min-height: 500px;
}


.caja-seccion5{
	height: 500px;
}
.text3 p{
	margin-top: 20px;
}
.text3{
	float: left;
	width: 330px;
	margin-bottom: 250px;
	margin-top:40px;
	margin-left: 82px;
}

.video3 {
	float: right;
}
/*fin seccion 5 */

/*inicio footer*/
footer{
	font-family: 'Montserrat', sans-serif;
	color: #FFF


}


.pie{
	background-color: #333447;
	width: 100%;
	height: 700px;	
}

footer ul li{
	list-style: none;
	padding-bottom:28px;

}
footer ul{
	float: left;
	margin: 100px;
}

.imagenes img{
	width: 150px;
	height: auto;
}

ul li a{
	color: #FFF;
	list-style: none;
	text-decoration:none; 
}

ul li a:hover{
	color: #FF47D1;
}

/*iconos footer*/
#iconos{
	font-size: 30px;
	float:left;
	margin-left: 492px;
}
.icon #iconos hr{
	position: relative;
	left:-253px;
	margin-top:50px;
	width: 300%;
}

.copyright li{
	margin-bottom:10px;
	float: left; 
	margin-left: 15px;
	position: relative;
	right: 371px;
    top: 40px;
	
}

.copyright .copy li h3 a{
	text-align: center;
	margin-right:30px;
	
}
.copy li h3{
	 font-weight: 400;
	 font-size: 16px;
}

.icon #iconos span{
    margin:16px;
    border: 2px solid white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: -2px;
}
